[Unit]
Description=Simulator Preparation (Clean + Re-Configure)
After=network.target
Wants=network.target

[Service]
Type=oneshot
WorkingDirectory=/home/joby/sim_prep
ExecStart=/home/joby/sim_prep/sim-prep.sh
StandardOutput=journal
StandardError=journal

#Environment Variables
Environment=HOME=/home/joby

# Security settings
NoNewPrivileges=true
PrivateTmp=true

[Install]
WantedBy=default.target
